CHESS_COACH_OLLAMA_MODEL=qwen3.8:27b-mlx
CHESS_COACH_OLLAMA_URL=http://127.0.0.1:11434
CHESS_COACH_BACKEND_PORT=53686
CHESS_COACH_FRONTEND_PORT=53687
CHESS_COACH_BOOKS_ENABLED=true
CHESS_COACH_BOOK_DATABASE=data/book_knowledge.db
# STOCKFISH_PATH=/opt/homebrew/bin/stockfish
# STOCKFISH_TIME=0.12
# STOCKFISH_EXPLANATION_TIME=0.8
# STOCKFISH_SELECTION_TIME=2.0
# STOCKFISH_DEEP_TIME=5.0
# STOCKFISH_MULTIPV=3
